.custom-card-img {
    width: 100%;       /* ensures the image takes up the full width of the card */
    height: 200px;     /* set a fixed height */
    object-fit: cover; /* ensures images cover the area without distortion */
}